:root{
    --cor-fundo: hsla(81, 93%, 22%, 0.478) ;
    --cor-principal: #1fa80d6d ;
    --cor-secundaria: #909090; 
    --cor-destaque: #690a0a;
    --cor-destaque2: #000000;
    --cor-destaque3: #ffffff;
    --cor-destaque4: #000000;
    --cor-destaque5: #ffffff;
    --cor-texto: #000000;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal); 
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1 {
  color: var(--cor-destaque);
  transition: color 0.3s ease;
}



button {
    margin: 10px;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-image: linear-gradient(to right, var(--cor-destaque), var(--cor-destaque2), var(--cor-destaque3), var(--cor-destaque4), var(--cor-destaque5));
    color: var(--cor-principal);
}


